<%= div_for inbox_perspective do %>
  <h2>
    <%= link_to inbox_perspective.name, inbox_perspective %>
    <small>Inbox</small>
  </h2>

  <%= simple_format inbox_perspective.description %>
<% end %>