<%= div_for contexts_perspective do %>
  <h2>
    <%= link_to contexts_perspective.name, contexts_perspective %>
    <small>Context</small>
  </h2>

  <%= simple_format contexts_perspective.description %>
<% end %>